@import "tailwindcss";

@keyframes slide-in-left {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slide-out-left {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -100%;
        opacity: 0;
    }
}

html,
body {
    min-height: 100%;
}

body {
    background:linear-gradient(to right, #112e3e, #d5585e, #0b7c48);
}